<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>ALL TICKETS</h1>

<table>
    <tr>
        <th>ID</th>
        <th>TITLE</th>
        <th>DESC</th>
        <th>AUTHOR</th>
        <th>RESPONSIBLE</th>
        <th>STATUS</th>
        <th>TICKET TYPE</th>
        <th>EDIT</th>
    </tr>
    <tr th:each="ticket : ${tickets}">
        <td th:text="${ticket.getId()}"></td>
        <td th:text="${ticket.getTitle()}"></td>
        <td th:text="${ticket.getDescription()}"></td>
        <td th:text="${ticket.getAuthor().getNameSurename()}"></td>
        <td th:text="${ticket.getResponsible().getNameSurename()}"></td>
        <td th:text="${ticket.getStatus()}"></td>
        <td th:text="${ticket.getTicketType()}"></td>
        <td>
            <a th:href="@{/tickets/{id} (id=${ticket.getId()})}" type="button">VIEW DETAILS</a>
        </td>
    </tr>
</table>

<hr>
<p>
    <a href="../home.html" th:href="@{/}">Return to home</a>
</p>

</body>
</html>