<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Site</title>
</head>
<body>
<div th:if="${param.error}">
    Invalid username and password.
</div>

<div th:if="${param.logout}"> You have been logged out.</div>

<form th:action="@{/login}" method="post">

    <label for="username">Username</label>
    <input type="text" id="username" name="username"/>
    <label for="password">Password</label>
    <input type="password" id="password" name="password"/>
    <div class="form-actions">
        <button type="submit" class="btn">Log in</button>
    </div>


    <input id="remember-me" name="remember-me" type="checkbox"/>
    <label for="remember-me" class="inline">Remember Me</label>

</form>

<br>
<br>
<br>

<p>
    <a href="../newUser.html" th:href="@{/users/create}">CREATE USER</a>
</p>
<!--    <form th:action="@{/users/create}" method="get" th:object="${usersList}">-->
<!--        <input type="hidden" name="email" th:value="${user.email}">-->
<!--        <input type="hidden" name="nameSurename" th:value="${user.nameSurename}">-->
<!--        <input type="hidden" name="role" th:value="${user.role}">-->
<!--        <input type="submit" class="btn btn-primary btn-lg btn-block" value="UPDATE USER">-->
<!--    </form>-->


</body>
</html>