<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Index page</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        th {
            text-align: center;
            font-weight: bold;
            border-top: none !important;
        }

        th, td {
            white-space: nowrap;
        }

        .mt-20 {
            margin-top: 20px;
        }
    </style>
</head>

<body>
<div class="container">
    <h3 class="text-info text-center mt-20">Sorting Example : Tickets</h3>
    <!-- employees table -->
    <table class="table table-striped mt-20 text-center" id="ticketsTable">
        <thead>
        <tr>
            <!-- sorting control via employee id -->
            <th>
                <a th:href="@{'/tickets/page/' + ${currentPage} + '?sort-field=id&sort-dir=' + ${reverseSortDir}}">Id</a>
            </th>
            <!-- sorting control via employee firstname -->
            <th>
                <a th:href="@{'/tickets/page/' + ${currentPage} + '?sort-field=ticketType&sort-dir=' + ${reverseSortDir}}">Ticket Type</a>
            </th>
            <!-- sorting control via employee lastname -->
            <th>
                <a th:href="@{'/tickets/page/' + ${currentPage} + '?sort-field=status&sort-dir=' + ${reverseSortDir}}">Status</a>
            </th>
            <th>Description</th>
            <th>Proposed Solution</th>
            <th>Title</th>
            <th>Author</th>
            <th>Responsible</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="ticket : ${listTickets}">
            <td th:text="${ticket.id}"></td>
            <td th:text="${ticket.ticketType}"></td>
            <td th:text="${ticket.status}"></td>
            <td th:text="${ticket.description}"></td>
            <td th:text="${ticket.proposedSolution}"></td>
            <td th:text="${ticket.title}"></td>
            <td th:text="${ticket.getAuthor().getNameSurename()}"></td>
            <td th:text="${ticket.getResponsible().getNameSurename()}"></td>
        </tr>
        </tbody>
    </table>
    <!-- pagination control -->
    <div th:if="${totalPages > 1}">
        <div class="row col-sm-10">
            <div class="col-sm-2">
                Total no. of tickets: <strong>[[${totalItems}]]</strong>
            </div>
            <div class="col-sm-1">
                    <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                        <a th:href="@{'/tickets/page/' + ${i} + '?sort-field=' + ${sortField} + '&sort-dir=' + ${sortDir}}"
                           th:if="${currentPage != i}">[[${i}]]</a>
                        <span th:unless="${currentPage != i}">[[${i}]]</span>
                    </span>
            </div>
            <div class="col-sm-1">
                <a th:href="@{'/tickets/page/' + ${currentPage + 1} + '?sort-field=' + ${sortField} + '&sort-dir=' + ${sortDir}}"
                   th:if="${currentPage < totalPages}">
                    Next
                </a>
<!--                <span th:unless="${currentPage == totalPages}">Next</span>-->
            </div>
            <div class="col-sm-1">
                <a th:href="@{'/tickets/page/' + ${totalPages} + '?sort-field=' + ${sortField} + '&sort-dir=' + ${sortDir}}"
                   th:if="${currentPage < totalPages}">
                    Last
                </a>
<!--                <span th:unless="${currentPage < totalPages}">Last</span>-->
            </div>
        </div>
    </div>
</div>
</body>

</html>