<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>

<h1>ALL USERS:</h1>
<table>
    <tr>
        <th>USER</th>
        <th>NAME & SURENAME</th>
        <th>ROLE</th>
        <th>UPDATE</th>
    </tr>
    <tr th:each="user : ${usersList}">

        <!--            <input type="text" class="form-control" id="c_price" th:field="*{title}">-->
        <td th:text="${user.getEmail()}"></td>
        <td th:text="${user.getNameSurename()}"></td>
        <td th:text="${user.getRole()}"></td>
        <td>
            <form th:action="@{/users/updateForm}" method="post" th:object="${usersList}">
                <input type="hidden" name="email" th:value="${user.email}">
                <input type="hidden" name="password" th:value="${user.password}">
                <input type="hidden" name="nameSurename" th:value="${user.nameSurename}">
                <input type="hidden" name="role" th:value="${user.role}">

<!--                <select th:field="*{role}">-->
<!--                    <option th:each="singleRole : ${roles}" th:text="${singleRole}" th:value="${singleRole}"></option>-->
<!--                </select>-->
                <input type="submit" class="btn btn-primary btn-lg btn-block" value="UPDATE USER">

            </form>
        </td>
    </tr>
</table>

<p>
    <a href="../home.html" th:href="@{/}">Return to home</a>
</p>


<!--<div>-->
<!--    <form th:action="@{/users/create}" method="post" th:object="${userForm}">-->

<!--        <label for="email">Email: </label>-->
<!--        <input id="email" type="text" th:field="*{email}">-->
<!--        <p th:if="${#fields.hasErrors('email')}"-->
<!--           th:text="${#fields.errors('email')}"></p>-->

<!--        <label for="password">Password: </label>-->
<!--        <input id="password" type="password" th:field="*{password}">-->

<!--        <label for="confirmPassword">Confirm Password: </label>-->
<!--        <input id="confirmPassword" type="password" th:field="*{confirmPassword}">-->

<!--        <button type="submit">CREATE USER</button>-->

<!--    </form>-->

<!--</div>-->

</body>
</html>