<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Dashboard</title>
</head>
<body>
<form th:action="@{/logout}" method="POST" style="float: right;">
    <input type="submit" value="Logout"/>
</form>
<p>
    <a href="../newticket.html" th:href="@{/tickets}">CREATE NEW TICKET</a>
</p>
<p>
    <a href="../alltickets.html" th:href="@{/tickets/all}">VIEW ALL TICKETS</a>
</p>
<div th:if="${username.getRole().toString().equals('ADMIN')}">
    <p>
        <a href="../users.html" th:href="@{/users}">VIEW ALL USERS</a>
    </p>
</div>

<br>

<hr>
<br>
<h1>USER DASHBOARD</h1>
<p th:text="'WELCOME: ' + ${username.getNameSurename()}"></p>
<p></p>

<p th:text="'You have currently ' + ${noofopentickets} + ' open tickets.'"></p>

<p>Here are your open tickets:</p>
<table>
    <tr>
        <th>ID</th>
        <th>TITLE</th>
        <th>DESC</th>
        <th>PROPOSED SOLUTION</th>
        <th>AUTHOR</th>
        <th>RESPONSIBLE</th>
        <th>STATUS</th>
        <th>TICKET TYPE</th>
        <th>EDIT</th>
    </tr>
    <tr th:each="ticket : ${usertickets}">
        <td th:text="${ticket.getId()}"></td>
        <td th:text="${ticket.getTitle()}"></td>
        <td th:text="${ticket.getDescription()}"></td>
        <td th:text="${ticket.getProposedSolution()}"></td>
        <td th:text="${ticket.getAuthor().getNameSurename()}"></td>
        <td th:text="${ticket.getResponsible().getNameSurename()}"></td>
        <td th:text="${ticket.getStatus()}"></td>
        <td th:text="${ticket.getTicketType()}"></td>
        <td>
            <a th:href="@{/tickets/{id} (id=${ticket.getId()})}" th:object="${comment}" type="button">VIEW DETAILS</a>
        </td>
    </tr>
</table>

<hr>
<hr>
<hr>


</body>
</html>