<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Dashboard</title>
</head>
<body>
<form th:action="@{/logout}" method="POST" style="float: right;">
    <input type="submit" value="Logout"/>
</form>
<p>
    <a href="../newticket.html" th:href="@{/tickets/add}">CREATE NEW TICKET</a>
</p>
<p>
    <a href="../alltickets.html" th:href="@{/tickets/all}">VIEW ALL TICKETS</a>
</p>
<p>
    <a href="../ticketsView.html" th:href="@{/tickets/}">VIEW SORTED TICKETS</a>
</p>
<div th:if="${currentUser.getRole().toString().equals('ADMIN')}">
    <p>
        <a href="../users.html" th:href="@{/users}">VIEW ALL USERS</a>
    </p>
</div>

<br>
<p style="color: crimson" th:if="${newTicketMsg}" th:text="${newTicketMsg}"></p>
<p style="color: crimson" th:if="${tickedClosedMsg}" th:text="${tickedClosedMsg}"></p>

<hr>
<br>
<h1>USER DASHBOARD</h1>
<p th:text="'WELCOME: ' + ${currentUser.getNameSurename()}"></p>
<p></p>

<a1 th:text="'You have currently '"></a1>
<a2 style="font-size: 3vw"><b>
    <a1 style="color: crimson" th:text="${noOfOpenTickets}"></a1>
</b></a2>
<a1 th:text="' open tickets.'"></a1>

<!--    filtering featue -->
<form th:action="@{/}" method="get">
    <input id="txtSearch" type="text" name="keyword">
    <button type="submit">SEARCH</button>
</form>

<p>Here are your open tickets:</p>
<table>
    <tr>
        <th>ID</th>
        <th>TITLE</th>
        <th>DESC</th>
        <th>PROPOSED SOLUTION</th>
        <th>AUTHOR</th>
        <th>RESPONSIBLE</th>
        <th>STATUS</th>
        <th>TICKET TYPE</th>
        <th>EDIT</th>
    </tr>
    <tr th:each="ticket : ${userTickets}">
        <td th:text="${ticket.getId()}"></td>
        <td th:text="${ticket.getTitle()}"></td>
        <td th:text="${ticket.getDescription()}"></td>
        <td th:text="${ticket.getProposedSolution()}"></td>
        <td th:text="${ticket.getAuthor().getNameSurename()}"></td>
        <td th:text="${ticket.getResponsible().getNameSurename()}"></td>
        <td th:text="${ticket.getStatus()}"></td>
        <td th:text="${ticket.getTicketType()}"></td>
        <td>
            <a th:href="@{/tickets/{id} (id=${ticket.getId()})}" th:object="${comment}" type="button">VIEW DETAILS</a>
        </td>
    </tr>
</table>

<hr>
<hr>
<hr>


</body>
</html>