<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Dashboard</title>
</head>
<body>
<header>USER DASHBOARD</header>
<p th:text="'WELCOME: ' + ${username.getUserNameAndSurename()}"></p>
<p></p>

<p th:text="'You have currently ' + ${noofopentickets} + ' open tickets.'"></p>

<p>Here are your open tickets:</p>

<table>
    <tr>
        <th>ID</th>
        <th>DESC</th>
        <th>AUTHOR</th>
        <th>RESPONSIBLE</th>
        <th>STATUS</th>
        <th>EDIT</th>
    </tr>
    <tr th:each="ticket : ${usertickets}">
        <td th:text="${ticket.getId()}"></td>
        <td th:text="${ticket.getDescription()}"></td>
        <td th:text="${ticket.getAuthor().getEmail()}"></td>
        <td th:text="${ticket.getResponsible().getEmail()}"></td>
        <td th:text="${ticket.getStatus()}"></td>
        <td>
            <a th:href="@{/ticketdetails/{id} (id=${ticket.getId()})}" type="button">VIEW DETAILS</a>
        </td>
    </tr>
</table>


<p>
    <a href="../home.html" th:href="@{/}">Return to home</a>
</p>

</body>
</html>